body {
    background-color: #7eb5a6;
    margin: 0 auto;
}

.keycode {
    color: #5f939a;
    text-align: center;
    font-size: 60rem;
    font-family: "JetBrains Mono";
    font-weight: bold;
}
